input{
    display: inline-block;
    border-right: 5px;
    padding: 1px 0;
    width: 200px

}
.form{
    border-right: 5px;
    z-index: 1000;
    position: fixed;
    left: 200px;
    bottom: 0px;
    padding: 20px 10px;
    background-color:#eee;
    width: 63%
}